---
import { getEntry } from "astro:content"
const memberShipData =(await getEntry("donation","membership")).data
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership & Sponsorship Options</title>
    <link rel="stylesheet" href="/assets/css/Donation/membership.css">
</head>
<body>
    <div class="donation-c1">
        <div class="donation-c1-title">{memberShipData.title}</div>
        <div class="donation-card-container">
            <div class="donation-card">
                <div class="donation-card-title1">{memberShipData.cardOneData.heading}</div>
                <div class="donation-card-title2">{memberShipData.cardOneData.lakh}</div>
                <div class="donation-card-permonth">{memberShipData.cardOneData.permonth}</div>
                <div class="donation-card-text">{memberShipData.cardOneData.paragraph}</div>
                <div><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
                </div>
            <div class="donation-card">
                <div class="donation-card-title1">{memberShipData.cardSecondData.heading}</div>
                <div class="donation-card-title2">{memberShipData.cardSecondData.lakh}</div>
                <div class="donation-card-permonth"> {memberShipData.cardSecondData.permonth}</div>
                <div class="donation-card-text">{memberShipData.cardSecondData.paragraph}</div>
                <div><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title3">{memberShipData.cardThirdData.heading}</div>
                <div class="donation-card-text">{memberShipData.cardThirdData.paragraph}</div>
                <div class="donate-btn3"><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title4">{memberShipData.cardFourthData.heading}</div>
                <div class="donation-card-text4">{memberShipData.cardFourthData.paragraph}</div>
                <div class="donate-btn4"><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">{memberShipData.cardFifthData.heading}</div>
                <div class="donation-card-text">{memberShipData.cardFifthData.paragraph}</div>
                <div class=""><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title6">{memberShipData.cardSixthData.heading}</div>
                <div class="donation-card-text6">{memberShipData.cardSixthData.paragraph}</div>
                <div class="donate-btn6"><a class="donation-card-button" href="/">{memberShipData.membershipCardBtn}</a></div>
            </div>
        </div>
    </div>
</body>
</html>
