---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
const commonComingsoon = (await getEntry("common", "coming-soon")).data;
---

<script src="/assets/js/theme.min.js" is:inline></script>
<script src="/assets/js/common.js" is:inline></script>
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<link rel="stylesheet" href="/assets/css/contacts.css" />

<Layout title="Contacts">
  <main class="page-wrapper contacts">
    <section class="contact-info-section">
      <div class="contact">
        <h1>  {commonComingsoon.h1}</h1>
        <p class="subtitle">
          {commonComingsoon.subtitle}
        </p>

        <div class="contact-info">
          <div>
            <strong>Address</strong>
            <p class="address"> {commonComingsoon.address}</p>
          </div>
          <div>
            <strong>Phone</strong>
            <p class="call">
              {commonComingsoon.call} <br /><a href="tel:+919303397100">+91-93033 97100</a
              >
            </p>
            <p class="whatsapp">
              {commonComingsoon.whatsapp} <br /><a href="https://wa.me/919880141412"
                >+91-98801 41412</a
              >
            </p>
          </div>
          <div>
            <strong>Email</strong>
            <p>
              {commonComingsoon.aemail} <br /><a href="mailto:info@kiran.foundation"
                >info@kiran.foundation</a
              >
            </p>
          </div>
        </div>

        <div class="contact-form">
          <h2 class="form">{commonComingsoon.fname}</h2>
          <form id="contactForm">
            <label for="name">{commonComingsoon.name}</label>
            <input type="text" id="name" placeholder="Your name" required />
            <div class="info">
              <div>
                <label for="contactEmail">{commonComingsoon.email}</label>
                <input type="email" id="contactEmail" placeholder="Email address" required />
              </div>
              <div>
                <label for="phone">{commonComingsoon.phone}</label>
                <input type="text" id="phone" placeholder="Phone number" required />
              </div>
            </div>
        
            <label for="message">{commonComingsoon.help}</label>
            <textarea id="message" placeholder="How can we help?" rows="4" required></textarea>
        
            <button type="submit">{commonComingsoon.request}</button>
          </form>
        </div>
      </div>
    </section>
  </main>
</Layout>
