---
import { getEntry } from 'astro:content'
const commonComingsoon = (await getEntry('common', 'coming-soon')).data
---

<script src='/assets/js/theme.min.js' is:inline></script>
<script src='/assets/js/common.js' is:inline></script>

<section class='container' style='padding-top: 100px;'>
  <div class='py-5 container d-flex flex-column align-items-center'>
    <div class=''>
      <h1 class='display-1' style='color: #F1592A; font-weight: 700;'>
        {commonComingsoon.h1}
      </h1>
      <p class='lead w-full'>
        {commonComingsoon.subtitle}
      </p>

      <div class='d-flex flex-wrap'>
        <div class='contact-item'>
          <strong>Address</strong>
          <p class='address'>{commonComingsoon.address}</p>
        </div>
        <div class='contact-item'>
          <strong>Phone</strong>
          <p class='call'>
            {commonComingsoon.call}
            <br /><a href='tel:+919303397100'>+91-93033 97100</a>
          </p>
          <p class='whatsapp'>
            {commonComingsoon.whatsapp}
            <br /><a href='https://wa.me/919880141412'>+91-98801 41412</a>
          </p>
        </div>
        <div class='contact-item'>
          <strong>Email</strong>
          <p>
            {commonComingsoon.aemail}
            <br /><a href='mailto:info@kiran.foundation'
              >info@kiran.foundation</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class='contact-form'>
      <h2 class='h2 text-white text-center'>{commonComingsoon.fname}</h2>
      <form id='contactForm'>
        <label for='name'>{commonComingsoon.name}</label>
        <input type='text' id='name' placeholder='Your name' required />
        <div class='info'>
          <div>
            <label for='contactEmail'>{commonComingsoon.email}</label>
            <input
              type='email'
              id='contactEmail'
              placeholder='Email address'
              required
            />
          </div>
          <div>
            <label for='phone'>{commonComingsoon.phone}</label>
            <input type='text' id='phone' placeholder='Phone number' required />
          </div>
        </div>

        <label for='message'>{commonComingsoon.help}</label>
        <textarea id='message' placeholder='How can we help?' rows='4' required
        ></textarea>

        <button type='submit'>{commonComingsoon.request}</button>
      </form>
    </div>
  </div>
</section>

<style>
  .contact-item {
    width: 300px;
    text-wrap: wrap;
  }

  .contact-item > strong {
    wfont-size: 22px;
    font-weight: 600;
    line-height: 44px;
    color: #000;
  }

  .contact-form {
    background-color: #001a33;
    padding: 48px;
    border-radius: 16px;
    color: #fff;
    max-width: 800px;
    margin-top: 40px;
  }

  .contact-form label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  }

  @media (max-width: 425px) {
    .contact-form {
      scale: 0.8;
    }

    .info {
      gap: 0;
    }
  }

  .info div {
    flex: 1;
    width: 100%;
    min-width: 250px;
  }
  .contact-form button {
    background: rgba(241, 89, 42, 1);
    color: #fff;
    width: Fixed (249px) px;
    height: Hug (56px) px;
    top: 608px;
    left: 248px;
    padding: 12px 32px 12px 32px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: none;
  }
</style>
