---
import { getEntry } from 'astro:content'
const aboutImage = (await getEntry('about', 'gallery')).data
---

<div class='d-flex flex-column justify-content-center container'>
  <div class='h1 text-center'>{aboutImage.title}</div>
  <div class='lead text-center'>
    {aboutImage.paragraph}
  </div>

  <div class='gallery-grid-container'>
    <img
      class='grid-item'
      src={aboutImage.galleryImg.imgOne}
      alt='imageGallery1'
    />
    <img
      class='grid-item'
      src={aboutImage.galleryImg.imgTwo}
      alt='VolunterGroupImage'
    />
    <img
      class='grid-item item3'
      src={aboutImage.galleryImg.imgThree}
      alt='shreyaGoldMedal image'
    />
    <img
      class='grid-item item4'
      src={aboutImage.galleryImg.imgFour}
      alt='Event Image 4'
    />
    <img
      class='grid-item'
      src={aboutImage.galleryImg.imgFive}
      alt='hero Image 5'
    />
    <img
      class='grid-item'
      src={aboutImage.galleryImg.imgSix}
      alt='Event Image 6'
    />
  </div>
</div>

<style>
  .gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .item3 {
    grid-area: 1 / 3 / span 2 / span 2;
  }
  .item4 {
    grid-area: 2 / 1 / span 2 / span 2;
  }

  @media max-width(425px) {
    .gallery-grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .grid-item {
      border-radius: 10px;
    }
    .item3 {
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .item4 {
      grid-area: 2 / 2 / span 1 / span 1;
    }
  }
</style>
