---
import { getEntry } from 'astro:content'
const aboutMission = (await getEntry('about', 'mission')).data
---

<div class='container my-5'>
    <p class='paragraph container'>
        <img
            class='img-fluid rounded ma-image'
            src={aboutMission.maaImg}
            alt='Image'
        />
        {aboutMission.description.paragraph_1}
        <br />
        <br />
        {aboutMission.description.paragraph_2}
        <br />
        <br />
        {aboutMission.description.paragraph_3}
        <br />
        <br />
        {aboutMission.description.paragraph_4}
    </p>
</div>

<style>
    .paragraph {
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
    }

    .ma-image {
        float: left;
        border: 1px dotted black;
        margin: 15px;
        height: 660px;
        width: 600px;
    }

    @media (max-width: 768px) {
        .ma-image {
            height: 400px;
            width: 400px;
            margin: 20px 0;
        }
    }
</style>
