---
import { getEntry} from "astro:content"
const aboutTeam =(await getEntry ("about","team")).data
---
<div class="container team-container" style="margin-top: 4rem;">
    <div class="team-title">{aboutTeam.teamHeading}</div>
    <div class="team-cards">
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberOne} alt="Team Member 1" />
        </div>
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberTwo} alt="Team Member 2" />
        </div>
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberThree} alt="Team Member 3" />
        </div>
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberFour} alt="Team Member 4" />
        </div>
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberFive} alt="Team Member 5" />
        </div>
        <div class="team-card">
            <img src={aboutTeam.professionalsImg.memberSix} alt="Team Member 6" />
        </div>
    </div>
</div>

<!--experience card -->
<section class="container aboutExperience-card">
    <div class="card-details">
        <div class="card-img">
            <img src={aboutTeam.expImg} alt="star-image">
            <span>{aboutTeam.expHeading}</span>
        </div>
         <div class="card-btn">
       
          <a href="/">{aboutTeam.expBtn}</a>
       </div>
   </div>
</section>