---
import { getEntry } from 'astro:content'
const aboutTeam = (await getEntry('about', 'team')).data
---

<div class='container team-container' style='margin-top: 4rem;'>
    <div class='h1' style='font-weight: 600;
    color: #2b2e36;'>
        {aboutTeam.teamHeading}
    </div>
    <div class='team-cards'>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberOne}
                alt='Team Member 1'
            />
        </div>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberTwo}
                alt='Team Member 2'
            />
        </div>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberThree}
                alt='Team Member 3'
            />
        </div>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberFour}
                alt='Team Member 4'
            />
        </div>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberFive}
                alt='Team Member 5'
            />
        </div>
        <div class='team-card'>
            <img
                src={aboutTeam.professionalsImg.memberSix}
                alt='Team Member 6'
            />
        </div>
    </div>
    <div class='w-full d-flex justify-content-center'>
        <div class='card-details'>
            <div class='d-flex gap-2 align-items-center p-3'>
                <img src={aboutTeam.expImg} alt='star-image' />
                <span class='h2' style='color: white;'
                    >{aboutTeam.expHeading}</span
                >
            </div>
            <div class='card-btn btn'>
                <a href='/' style='color: white; text-decoration: none;'
                    >{aboutTeam.expBtn}</a
                >
            </div>
        </div>
    </div>
</div>

<!--experience card -->
<!-- <section class='container'></section> -->

<style>
    .team-title {
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 52px;
        text-align: center;
    }

    .team-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;
    }

    .team-card {
        width: calc(33.33% - 27px);
        height: 416px;
        border-radius: 36px;
        background: #f7fcfe;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 768px) {
        .team-card {
            width: calc(50% - 27px);
        }
    }
    @media (max-width: 480px) {
        .team-cards {
            flex-direction: column;
            width: 100%;
            gap: 20px;
            padding: 20px 10px;
            justify-content: center;
        }
        .team-card {
            width: 100%;
        }
    }

    .card-details {
        border-radius: 18px;
        background-color: #051d40;
        display: flex;
        width: 100%;
        height: 180px;
        justify-content: space-around;
        align-items: center;
        color: white;
        margin: 20px 0;
    }

    @media (max-width: 768px) {
        .card-details {
            padding: 5px 20px;
            flex-direction: column;
            height: max-content;
        }
    }
    .card-details > img {
        width: 24px;
        height: 24px;
    }

    /* .card-details span {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: left;
        color: #f9f9f9;
        margin-left: 5px;
    } */

    .card-btn {
        background-color: #f1592a;
        border-radius: 8px;
        cursor: pointer;
        width: 100px;
        height: fit-content;
    }
</style>
