---
import { getEntry } from 'astro:content'
const aboutVolunteer = (await getEntry('about', 'volunteer')).data
---

<div class='container' style='margin-top: 2rem;'>
  <div class='volunteers-c1-title'>{aboutVolunteer.title}</div>
  <div class='volunteers-c1-card-container'>
    <div class='volunteers-c1-card'>
      <img src={aboutVolunteer.cardContainerOne.imgOne} alt='Volunteer Image' />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameOne}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationOne}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img src={aboutVolunteer.cardContainerOne.imgTwo} alt='Volunteer Image' />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameTwo}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationTwo}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerOne.imgThree}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameThree}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationThree}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerOne.imgFour}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameFour}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationFour}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img src={aboutVolunteer.cardContainerTwo.imgOne} alt='Volunteer Image' />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameOne}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationOne}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img src={aboutVolunteer.cardContainerTwo.imgTwo} alt='Volunteer Image' />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameTwo}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationTwo}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerTwo.imgThree}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameThree}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationThree}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerTwo.imgFour}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerOne.nameFour}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerOne.designationFour}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerThree.imgOne}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerThree.nameOne}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerThree.designationOne}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerThree.imgTwo}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerThree.nameTwo}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerThree.designationTwo}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerThree.imgThree}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerThree.nameThree}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerThree.designationThree}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerThree.imgFour}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerThree.nameFour}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerThree.designationFour}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerFour.imgOne}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerFour.nameOne}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerFour.designationOne}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerFour.imgTwo}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerFour.nameTwo}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerFour.designationTwo}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerFour.imgThree}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerFour.nameThree}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerFour.designationThree}
      </div>
    </div>
    <div class='volunteers-c1-card'>
      <img
        src={aboutVolunteer.cardContainerFour.imgFour}
        alt='Volunteer Image'
      />
      <div class='volunteers-c1-card-title1'>
        {aboutVolunteer.cardContainerFour.nameFour}
      </div>
      <div class='volunteers-c1-card-title2'>
        {aboutVolunteer.cardContainerFour.designationFour}
      </div>
    </div>
  </div>
</div>

<style>
  .volunteers-c1-title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    color: #121519;
    margin-bottom: 40px;
  }

  .volunteers-c1-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1250px;
  }

  .volunteers-c1-card {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 24px;
  }

  .volunteers-c1-card img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-bottom: 16px;
  }

  .volunteers-c1-card-title1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #121519;
    margin-bottom: 8px;
  }

  .volunteers-c1-card-title2 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #858c97;
  }
</style>
