---
import { remark } from "remark";
import html from "remark-html";
const allPartner = import.meta.glob("/src/content/partner/*.md");
const partner = await Promise.all(
  Object.values(allPartner).map(async (partnerData) => {
    const { frontmatter, default: content } = await partnerData();
    const processedContent = await remark().use(html).process(content);
    return { ...frontmatter, content: processedContent.toString() };
  })
);
---

<!-- Partners -->
<section class="container my-lg-3 my-xl-4 my-xxl-5">
  <div
    class="overflow-auto pb-sm-4 pb-md-5 pt-sm-2 pt-md-3 mt-n2 mt-sm-0 mt-md-1 mt-lg-3 mb-lg-2"
  >
    <div class="row row-cols-4 g-0 pb-2" style="min-width: 768px; ">
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partner[0].partner1}
          width="196"
          alt="Deloitte"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partner[0].partner2}
          width="196"
          alt="Deloitte"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partner[0].partner3}
          width="196"
          alt="Champion"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partner[0].partner4}
          width="196"
          alt="Champion"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partner[0].partner5}
          width="196"
          alt="Financial Times"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partner[0].partner6}
          width="196"
          alt="Financial Times"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partner[0].partner7}
          width="196"
          alt="Clutch"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partner[0].partner8}
          width="196"
          alt="Clutch"
        />
      </div>
    </div>
  </div>
</section>
