---
import { getEntry } from "astro:content";
const partners = (await getEntry("home", "partners")).data;
const common = (await getEntry("common", "common")).data;
---
<section class="container my-lg-3 my-xl-4 my-xxl-5" style="margin-top: 40px;">
  <div
    class="overflow-auto pb-sm-4 pb-md-5 pt-sm-2 pt-md-3 mt-n2 mt-sm-0 mt-md-1 mt-lg-3 mb-lg-2"
  >
    <div class="row row-cols-4 g-0 pb-2" style="min-width: 768px; ">
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partners.partner1}
          width="196"
          alt="Deloitte"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partners.partner2}
          width="196"
          alt="Deloitte"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partners.partner3}
          width="196"
          alt="Champion"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partners.partner4}
          width="196"
          alt="Champion"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partners.partner5}
          width="196"
          alt="Financial Times"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partners.partner6}
          width="196"
          alt="Financial Times"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="d-dark-mode-none"
          src={partners.partner7}
          width="196"
          alt="Clutch"
        />
        <img
          class="d-none d-dark-mode-block"
          src={partners.partner8}
          width="196"
          alt="Clutch"
        />
      </div>
    </div>
  </div>
</section>


