---
import { getEntry } from "astro:content";
const programs = (await getEntry("home", "programs")).data;
const common = (await getEntry("common", "common")).data;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programe</title>
    <link rel="stylesheet" href="/assets/css/Home/Global.css">
</head>
<body>
  
<div class="col d-flex justify-content-center">
  <img
    class="d-dark-mode-none"
    src="/assets/images/programs/program.png"
    width="544"
    alt="Image"
    style="margin-bottom: 3%;"
  />
</div>
<section class="overflow-hidden pb-3">
  <div class="container pb-sm-3 mb-md-2 mb-lg-3">
    <div class="row g-4">
      <div
        class="col-md-7 order-md-2"
        data-aos="fade-left"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <img
          class="object-fit-cover w-100 h-100 rounded-3"
          src="/assets/images/programs/kiranimage.jpg"
          alt="Image"
        />
      </div>
      <div
        class="col-md-5 order-md-1"
        data-aos="fade-right"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <div
          class="d-flex flex-column h-100 rounded-3 py-5 px-4 px-lg-5"
          style="background: #F7FCFE;"
        >
          <h2 class="programe-title-h2 mb-xl-4">{programs.pratibha.title}</h2>
          <p class="programe-paragraph-p mb-4 mb-xl-5" style="line-height: 2;">
            {programs.pratibha.description}
          </p>
          <div class="mt-">
            <a
              class="programe-seemore-button btn btn-primary order-lg-3 d-none d-sm-inline-flex"
              href="/Pratibha">{common.more}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services: Health insurance -->
<section class="overflow-hidden pb-5">
  <div class="container pb-sm-3 mb-md-2 mb-lg-3">
    <div class="row g-4">
      <div
        class="col-md-7"
        data-aos="fade-right"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <img
          class="object-fit-cover w-100 h-100 rounded-3"
          src="/assets/images/programs/program2.png"
          alt="Image"
        />
      </div>
      <div
        class="col-md-5"
        data-aos="fade-left"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <div
          class="d-flex flex-column h-100 rounded-3 py-5 px-4 px-lg-5"
          style="background: #F7FCFE;"
        >
          <h2 class="programe-title-h2 mb-xl-4">
            {programs.shakti.title}
          </h2>
          <p class="programe-paragraph-p mb-4 mb-xl-5" style="line-height: 2;">
            {programs.shakti.description}
          </p>
          <div class="mt-">
            <a
              class="programe-seemore-button btn btn-primary btn-sm order-lg-3 d-none d-sm-inline-flex"
              href="/shakti">{common.more}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  
</body>
</html>
