---
import { getEntry } from "astro:content";
const values = (await getEntry("home", "values")).data;
const common = (await getEntry("common", "common")).data;
---
<section class="container py-5 pb-5 mb-lg-3 mb-xl-4 mb-xxl-5">
  <div class="row gy-3 pb-sm-3 pb-md-4 pb-lg-5 mt-3 gap-88">
    <div class="col-sm-6 col-lg-4 g-16">
      <div
        class="d-flex align-items-center mb-3"
        style="width: 416px; height:42px;"
      >
        <div class="flex-shrink-0 rounded-1 p-2" style="margin-left: -17px;">
          <div class="flex-shrink-0 rounded-1 p-2">
            <img src="/assets/images/benefits/icon.png" alt="Image" />
          </div>
        </div>
        <h3 class="benefits-title-h3 h5 mb-0">
          {values.vision.title}
        </h3>
      </div>
      <p class="benefits-content-container-p1 fs-sm" style="word-wrap: break-word;">
        {values.vision.description}
      </p>
    </div>
    <div class="col-sm-6 col-lg-4 gap-16">
      <div
        class="d-flex align-items-center mb-3"
        style="width: 416px; height:42px;"
      >
        <div class="flex-shrink-0 rounded-1 p-2" style="margin-left: -17px;">
          <div class="flex-shrink-0 rounded-1 p-2">
            <img src="/assets/images/benefits/icon3.png" alt="Image" />
          </div>
        </div>
        <h3 class="benefits-title-h3 h5 mb-0">{values.goal1.title}</h3>
      </div>
      <p class="benefits-content-container-p2 fs-sm" style="word-wrap: break-word;">
        {values.goal1.description}
      </p>
    </div>
    <div class="col-sm-6 col-lg-4 gap-16px">
      <div
        class="d-flex align-items-center mb-3"
         style="width: 416px; height:42px "
       
      >
        <div class="flex-shrink-0 rounded-1 p-2" style="margin-left: -17px;">
          <div class="flex-shrink-0 rounded-1 p-2">
            <img src="/assets/images/benefits/icon2.png" alt="Image" />
          </div>
        </div>
        <h3 class="benefits-title-h3 h5 mb-0">{values.goal2.title}</h3>
      </div>
      <p class="benefits-content-container-p3 fs-sm" style="word-wrap: break-word;">
        {values.goal2.description}
      </p>
    </div>
  </div>

  <section class="overflow-hidden mt-4">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div
          class="col-md-6"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-offset="280"
          data-disable-parallax-down="md"
        >
          <img
            class="object-fit-cover w-100 h-100 rounded-3"
            src="/assets/images/benefits/ma.jpg"
            alt="Image"
          />
        </div>
        <div
          class="col-md-6"
          data-aos="fade-left"
          data-aos-duration="600"
          data-aos-offset="280"
          data-disable-parallax-down="md"
        >
          <div
            class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5"
          >
            <h2 class="mb-xl-4"></h2>
            <p
              class="benefits-section2-p1 mb-4 mb-xl-5"
              style="font-size: 24px; color:#252A34; word-wrap: break-word;"
            >
            {values.maa.quote}
            </p>
            <p
              class="benefits-section-p2-dob mb-4 mb-xl-5"
              style="margin-top:-15px;"
            >
              <b class="benefits-section2-boldtext">{values.maa.name}</b>
              <br /> {values.maa.lifespan}
            </p>
            <p class="benefits-section2-p3 mb-4 mb-xl-5">
              {values.maa.step}
            </p>
            <div class="mt-">
              <a class="benefits-readmore-button btn btn-outline-primary" href="#"
                >{common.readMore}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>




