---
const { volunteer, common } = Astro.props;
---

<!-- TODO refactor later to read from the volunteering content -->
<div
  class="card border-1 rounded-4 position-relative mb-3"
  style="border-color:#F1592A;"
>
  <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
    <div class="w-100 pe-sm-4 mb-3 mb-sm-0 p-40">
      <h3 class="volunteer-heading-h3 mb-2" style="width: 350px;">
        {volunteer.volunteerRole1.title}
      </h3>
      <p class="volunteer-paragraph-description fs-lg mb-0">
        {volunteer.volunteerRole1.description}
      </p>
    </div>
    <a
      class="home-button btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto mt-4"
      href="/volunteering/3"
    >
      {common.apply}
    </a>
  </div>
</div>

<div
  class="card border-1 rounded-4 position-relative mb-3"
  style="border-color:#F1592A;"
>
  <div class="card-body d-sm-flex align-items-start text-center text-sm-start">
    <div class="w-100 pe-sm-4 mb-2 mb-sm-0">
      <h3 class="volunteer-heading3 mb-2" style="width: 352px;">
        {volunteer.volunteerRole2.title}
      </h3>
      <p class="volunteer-paragraph-description fs-lg mb-0">
        {volunteer.volunteerRole2.description}
      </p>
    </div>
    <a
      class="home-button btn btn-sm btn-outline-primary stretched-link w-100 w-sm-auto mt-4"
      href="/volunteering/2"
    >
      {common.apply}
    </a>
  </div>
</div>
