---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
const commonComingsoon = (await getEntry("common", "coming-soon")).data;
---

<script src="/assets/js/theme.min.js" is:inline></script>
<script src="/assets/js/coming-soon.js" is:inline></script>
<script src="/assets/js/common.js" is:inline></script>
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<link rel="stylesheet" href="/assets/css/coming-soon.css" />

<Layout title={commonComingsoon.title}>
  <main class="page-wrapper">
    <section class="coming-soon-section">
      <div class="overlay"></div>
      <div class="content" data-aos="fade-up">
        <h2 class="page_title">{commonComingsoon.h2}</h2>
        <p class="coming-soon-text">
          {commonComingsoon.p}
        </p>
        <div class="countdown">
          <div class="countdown-item">
            <span class="countdown-number" id="days">00</span>
            <span class="countdown-label">Days</span>
          </div>
          <div class="countdown-item">
            <span class="countdown-number" id="hours">00</span>
            <span class="countdown-label">Hours</span>
          </div>
          <div class="countdown-item">
            <span class="countdown-number" id="minutes">00</span>
            <span class="countdown-label">Minutes</span>
          </div>
          <div class="countdown-item">
            <span class="countdown-number" id="seconds">00</span>
            <span class="countdown-label">Seconds</span>
          </div>
        </div>
        <button
          class="notify-button"
          id="notifyMeBtn"
          onclick="openNotifyPopup()"
        >
          {commonComingsoon.button}</button
        >
        <div class="thank-you-message" id="thankYouMessage">
          {commonComingsoon.message}
        </div>
      </div>
    </section>
    <div id="notifyPopup" class="notify-popup">
      <div class="notify-popup-content">
        <span class="close-popup" onclick="closeNotifyPopup()">&times;</span>
        <h3>{commonComingsoon.button}</h3>
        <form id="notifyForm">
          <label for="notifyEmail">{commonComingsoon.email}</label>
          <input type="email" id="notifyEmail" name="email" required />
    
          <input type="hidden" id="sourcePage" name="sourcePage" readonly />
    
          <button type="submit">{commonComingsoon.button}</button>
        </form>
      </div>
    </div>
  </main>
</Layout>
