---
const allUpdates = import.meta.glob('/src/content/updates/*.md');

const updates = await Promise.all(
  Object.values(allUpdates).map(async (update) => {
    const { frontmatter } = await update();
    return { ...frontmatter };
  })
);

const { showHighPriorityOnly = false, isMainPage = false } = Astro.props;

const filteredUpdates = updates
  .filter(update => !showHighPriorityOnly || update.priority === "high")
  .sort((a, b) => new Date(b.date) - new Date(a.date));

const updatesToDisplay = showHighPriorityOnly ? filteredUpdates.slice(0, 3) : filteredUpdates;
---

<html>
<head>
  <!-- other head elements -->
  <style>
    .update-title {
      font-size: 18px; 
    }
    .update-description {
      font-size: 14px; 
    }
    .update-date {
      font-size: 10px; 
    }
  </style>
</head>
<body>
  <!-- Update display section -->
  <section class="container pb-2 pb-sm-3 pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
    <h2 class="h1 text-center pt-2 pt-sm-4 pt-lg-5 pb-2 mb-3 mb-lg-4 mt-md-3 mt-lg-0">Updates</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {updatesToDisplay.map(update => (
        <div class="col text-center pt-2" data-date={update.date}>
          <a class="card-hover card-lifted d-inline-block text-decoration-none" href={update.link}>
            <img class="card-lifted d-block rounded-5 mb-3" src={update.imgSrc} width="340" alt={update.title} />
            <h3 class="update-title h5 mb-1">{update.title}</h3>
            <p class="update-description mb-0 text-body-secondary">{update.description}</p>
            <p class="update-date mb-0 text-body-secondary"><small>Posted on: {new Date(update.date).toLocaleDateString()}</small></p>
          </a>
        </div>
      ))}
    </div>
    <!-- See More button -->
    {isMainPage && (
      <div class="text-center mt-4">
        <a href="/update" class="btn btn-primary">See More</a>
      </div>
    )}
  </section>
</body>
</html>