---
import type { MarkdownFile } from "../../types/Markdown";
import Heading from "./heading.astro";

const allUpdates = import.meta.glob<MarkdownFile>("/src/content/updates/*.md");

const updates = await Promise.all(
  Object.values(allUpdates).map(async (update) => {
    const { frontmatter } = await update();
    return { ...frontmatter };
  }),
);

const { showHighPriorityOnly = false, isMainPage = false } = Astro.props;

const filteredUpdates = updates
  .filter((update) => !showHighPriorityOnly || update.priority === "high")
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

const updatesToDisplay = showHighPriorityOnly
  ? filteredUpdates.slice(0, 3)
  : filteredUpdates;
---

<html>
  <head>
    <!-- other head elements -->
    <style>
      .update-title {
        font-size: 18px;
      }
      .update-description {
        font-size: 14px;
      }
      .update-date {
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <!-- Update display section -->
    <section class="container pb-2 pb-sm-3 pt-4 mt-lg-3 mt-xl-5" style="background-color: white;">
      <div class="container">
        <Heading title="updates" />

        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 text-center"
        >
          {
            updatesToDisplay.map((update) => (
              <div class="col text-center pt-2" data-date={update.date}>
                <a
                  class="card-hover d-inline-block text-decoration-none"
                  href={update.link}
                >
                  <img
                    class=" d-block rounded-5 mb-3"
                    src={update.featured_image}
                    width="370"
                    alt={update.title}
                  />
                  <h3 class="update-title h5 mb-1">{update.title}</h3>
                  <p class="update-description mb-0 text-body-secondary">
                    {update.summary}
                  </p>
                  <p class="update-date mb-0 text-body-secondary">
                    <small>
                      Posted on: {new Date(update.date).toLocaleDateString()}
                    </small>
                  </p>
                </a>
              </div>
            ))
          }
        </div>
        <!-- See More button -->
        {
          isMainPage && (
            <div class="text-center mt-4">
              <a href="/update" class="btn btn-primary">
                See More
              </a>
            </div>
          )
        }
      </div>
    </section>
  </body>
</html>
