---
import { getEntry } from "astro:content"
const benefitsSecond = (await getEntry("pratibha", "benefits-second")).data
---
<div class="aboutPratibha-container-c1" style="margin-top: 45px; margin-bottom:70px;">
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src={benefitsSecond.image.guidance} alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">{benefitsSecond.heading.guidance}</h3>
      <p class="aboutPratibha-box-content">{benefitsSecond.paragraph.guidance}</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src={benefitsSecond.image.harmony} alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">{benefitsSecond.heading.harmony}</h3>
      <p class="aboutPratibha-box-content">{benefitsSecond.paragraph.harmony}</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src={benefitsSecond.image.coaching} alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">{benefitsSecond.heading.coaching}</h3>
      <p class="aboutPratibha-box-content">{benefitsSecond.paragraph.coaching}</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src={benefitsSecond.image.involvement} alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">{benefitsSecond.heading.involvement}</h3>
      <p class="aboutPratibha-box-content">{benefitsSecond.paragraph.involvement} </p>
    </div>
  </div>