---
import { getEntry } from 'astro:content'
const cardPratibha = (await getEntry('pratibha', 'card')).data
---

<!-- <div
  class='position-relative d-flex justify-content-around p-4 m-4'
  style='background-color: #051D40;'
>
  <div
    class='pratibhaCard-image-container w-full d-flex justify-content-center'
    style='flex:0.6'
  >
    <img src={cardPratibha.image} alt='Mentoring Image' />
  </div>

  <div class='' style='flex:0.4'>
    <h2 class='text-white'>{cardPratibha.heading}</h2>

    <a class='cardPratibha-join-button btn btn-primary -pill mt-4' href='/'>
      {cardPratibha.join}</a
    >
  </div>

  <!-- Vector -->
<div class='position-absolute start-0 pratibhaCard-image-container-vector'>
  <img src='/assets/images/benefits/Vector6.png' alt='Vector Image' />
</div>

<section
  class='container pt-2 mt-lg-3 mt-xl-4 mt-xxl-5'
  style='margin-bottom: 6rem;'
>
  <div
    class='container rounded-5 overflow-hidden pt-1 p-md-4 mt-2 mt-sm-4 mt-lg-5'
    style='background-color:#051D40 !important; opacity: 1; '
  >
    <div class='row position-relative z-2 align-items-around'>
      <div class='col-md-6 d-flex justify-content-end'>
        <img
          class='rounded-5 my-3'
          style='width:max-content; max-height:320px;'
          src={cardPratibha.image}
          width='534'
          alt='Image'
        />
      </div>
      <div
        class='col-md-6 col-lg-5 offset-lg-1 d-flex flex-col align-items-center'
      >
        <div class='text-center text-md-start'>
          <h2 class='h1 text-white pb-2 pb-sm-3'>
            {cardPratibha.heading}
          </h2>

          <a
            class='btn btn-primary order-lg-3 d-sm-inline-flex'
            href='/volunteering'>{cardPratibha.join}</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class='position-absolute start-0 pratibhaCard-image-container-vector'>
    <img src='/assets/images/benefits/Vector6.png' alt='Vector Image' />
  </div>
</section>
