---
import { getEntry } from "astro:content";
const faqPratibha = (await getEntry("pratibha", "faqpratibha")).data;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FAQ Section</title>
        <link rel="stylesheet" href="/assets/css/Pratibha/faq.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
    <body>
        <div class="faq-container-c1">
            <div class="faq-container-c2" style="width: 450px;">
                <h1 class="faq-title">{faqPratibha.title}</h1>
                <p class="faq-content">{faqPratibha.paragraph}</p>
                <div class="faq-image-content">
                    <img src={faqPratibha.image} alt="vectorImage" />
                </div>
            </div>
            <div class="faq-container-c3" style="margin-left: 20px;">
                <div class="faq-accordion" style="width: 400px;">
                    <div class="faq-accordion-item">
                        <div class="faq-accordion-question">
                            {faqPratibha.question1}
                            <img src="/assets/images/benefits/Chevron.png" 
                            style="margin-left: 645px; margin-top:-105px"/>
                        </div>
                        <div class="faq-accordion-answer mt-5">
                            {faqPratibha.answer1}
                        </div>
                    </div>
                    <div class="faq-accordion-item">
                        <div class="faq-accordion-question">
                            {faqPratibha.question2}
                            <img src="/assets/images/benefits/Chevron1.png" 
                            style="margin-left: 647px; margin-top:-60px"/>
                        </div>
                        <div class="faq-accordion-answer">
                            {faqPratibha.answer2}
                        </div>
                    </div>
                    <div class="faq-accordion-item">
                        <div class="faq-accordion-question">
                            {faqPratibha.question3}
                            <img src="/assets/images/benefits/Chevron.png" 
                            style="margin-left: 647px; margin-top:-60px"/>
                        </div>
                        <div class="faq-accordion-answer">
                            {faqPratibha.answer3}
                        </div>
                    </div>
                    <div class="faq-accordion-item">
                        <div class="faq-accordion-question">
                            {faqPratibha.question4}
                            <img src="/assets/images/benefits/Chevron.png" 
                            style="margin-left: 647px; margin-top:-65px"/>
                        </div>
                        <div class="faq-accordion-answer">
                            {faqPratibha.answer4}
                        </div>
                    </div>
                    <div class="faq-accordion-item">
                        <div class="faq-accordion-question">
                            {faqPratibha.question5}
                            <img src="/assets/images/benefits/Chevron.png" 
                            style="margin-left: 647px; margin-top:-110px"/>
                        </div>
                        <div class="faq-accordion-answer mt-5">
                            {faqPratibha.answer5}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document
                .querySelectorAll(".faq-accordion-question")
                .forEach((item) => {
                    item.addEventListener("click", (event) => {
                        const accordionItem = item.parentNode;
                        accordionItem.classList.toggle("active");
                    });
                });
        </script>
    </body>
</html>
