---
import { getEntry } from "astro:content";
const appPratibha = (await getEntry("pratibha", "apppratibha")).data;
---
<div class="container app-component-c1" style="width:1296px;">
            <div class="app-left-container">
                {appPratibha.title}
            </div>
            <button class="app-download-button"
                >{appPratibha.downloadAppbtn}</button
            >
            <img src={appPratibha.image1} alt="Hero Image 1" class="image1" />
            <img src={appPratibha.image2} alt="Hero Image 2" class="image2" />
            <img src={appPratibha.image3} alt="Hero Image 3" class="image3" />
            <img src={appPratibha.image4} alt="Hero Image 4" class="image4" />
        </div>